<?xml version="1.0"?>
<launch>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
  <param name="dd_bot/robot_description" command="$(find xacro)/xacro.py $(find dd_bot)/urdf/dd_bot.xacro"/>
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" ns = "dd_bot" args="-param robot_description -urdf -model dd_bot"
    output="screen" />
  <rosparam file="$(find dd_bot)/config/my_odom.yaml" command="load"/>
  <node name="control_spawner" pkg="controller_manager" type="spawner" respawn="false" ns="dd_bot"
	output="screen" args="joint_state_controller right_wheel_controller left_wheel_controller"/>
  <node name="robot_state_publisher" ns="dd_bot" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">	<remap from="/joint_states" to="/dd_bot/joint_states" />
  </node>

</launch>
